@import "../../styling/index.scss";

.form-group {
  position: relative;
  margin-bottom: 1rem;
  .form-label {
    color: $greyLight;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    pointer-events: none;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }
  .form-input {
    overflow: visible;
    border: none;
    height: 60px;
    position: relative;
    width: 100%;
    outline: 0;
    background-color: #ededed;
    resize: none;
    box-shadow: none;
    padding: 1rem 1rem 0.1875rem;
  }
  .bottom-border {
    max-width: 100%;
    height: 2px;
    background-color: $primaryBlue;
    opacity: 0.5;
    width: 0;
    transition: width 0.4s;
  }
  &:hover,
  &.active {
    .bottom-border {
      width: 100%;
    }
    .form-label {
      transform: translateY(-65%);
      font-size: 0.65em;
    }
  }
}
