* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-weight: 400;
  line-height: 1.5;
  background: #eef1f3;
  text-align: left;
}

h2 {
  font-size: 24px;
  letter-spacing: 2.5px;
  font-weight: 900;
  line-height: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}
