// media queries
$screenSmallMinEM: "38em";
$screenMediumMinEM: "54.063em";
$screenLargeMinEM: "85.375em";

$tinyUp: "only screen";
$smallUp: "only screen and (min-width:  #{$screenSmallMinEM})";
$mediumUp: "only screen and (min-width:  #{$screenMediumMinEM})";
$largeUp: "only screen and (min-width:  #{$screenLargeMinEM})";

//colors
$primaryBlue: #2781ff;
$green: #01de47;
$red: #e83e8c;
$greyDark: #334146;
$greyLight: #939a9c;
