@import "../../../styling/index.scss";

.address-grid {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "street-area"
    "city-area"
    "zip-area"
    "house-area";

  @media #{$smallUp} {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas:
      "street-area  street-area"
      "city-area    zip-area"
      "house-area   house-area";
  }

  transition: all 0.3 ease-in;

  .street {
    grid-area: street-area;
  }

  .city {
    grid-area: city-area;
  }

  .zip {
    grid-area: zip-area;
  }

  .house {
    grid-area: house-area;
  }
}
