@import "../../styling/index.scss";

.register-form {
  background: #fff;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
  position: absolute;

  @media #{$smallUp} {
    left: 17%;
    top: 10%;
    transform: translate3d(-10%, -10%, 0);
  }
  @media #{$mediumUp} {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .form-heading {
    margin: 2rem;
    h2 {
      color: $greyDark;
      text-transform: uppercase;
    }
    h3 {
      color: $greyLight;
    }
  }
  .form {
    margin: 2rem 4rem 4rem 2rem;
    position: relative;
    .next-button {
      color: $primaryBlue;
      font-weight: 800;
      letter-spacing: 1px;
      padding-right: 1.5rem;
      cursor: pointer;
      text-transform: none;
      position: absolute;
      display: inline-block;
      font-size: 14px;
      line-height: 25px;
      transition: 0.2s;
      left: 90%;
      &::after {
        content: "";
        display: block;
        color: $primaryBlue;
        background: url(../../assets/images/next.png) no-repeat center;
        background-size: 16px;
        width: 30px;
        height: 100%;
        border-radius: 15px;
        position: absolute;
        right: 0;
        top: -1px;
        pointer-events: none;
      }
    }
  }
  .steps-loader {
    margin: 1rem 2rem 2rem 1rem;
  }
  .error {
    color: $red;
    font-size: 14px;
  }
}
